<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/dialogLayout">
<head>
    <title>添加组织机构</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">机构id</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="机构id" class="input-text radius size-M" name="orgId" id="orgId"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">机构名称</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="机构名称" class="input-text radius size-M" name="orgName" id="orgName"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">父级机构id</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="父级机构id" class="input-text radius size-M" name="parentOrgId" id="parentOrgId"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">父级机构名称</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="父级机构名称" class="input-text radius size-M" name="parentOrgName" id="parentOrgName"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">机构地址</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="机构地址" class="input-text radius size-M" name="address" id="address"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">城市编码</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="城市编码" class="input-text radius size-M" name="cityCode" id="cityCode"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">城市名称</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="城市名称" class="input-text radius size-M" name="cityName" id="cityName"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">创建人</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="创建人" class="input-text radius size-M" name="creator" id="creator"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">创建时间</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" placeholder="创建时间" class="input-text radius size-M" name="createTime" id="createTime"/>
        </div>
    </div>
    <div>
        <a class="btn btn-primary radius" type="button" id="submit" onclick="submit()"><i
                class="Hui-iconfont">&#xe603;</i>提交</a>
        <a class="btn btn-primary radius" type="button" id="cancel" onclick="cancel()"><i
                class="Hui-iconfont">&#xe66b;</i>取消</a>
    </div>
    <script type="text/javascript">
    // 取消
    function cancel(){
        $('#cityCode').val('');
        $('#cityName').val('');
        $('#cityLevel').val('');
    }

    // 提交
    function submit(){
        var cityCode = $('#cityCode').val();
        var cityName = $('#cityName').val();
        var levelCode = $('#cityLevel').val();
        var levelName = $('#cityLevel').find("option:selected").text();
        if(cityCode.length==0){
            layer.msg('城市编码必填！', {icon: 5});
            return
        }
        if(cityName.length==0){
            layer.msg('城市名称必填！', {icon: 5});
            return
        }
        if(levelCode.length==0){
            layer.msg('城市等级必填！', {icon: 5});
            return
        }

       $.ajax({
            type: "POST",
            url: "/uam/city/saveCity",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({'cityCode':cityCode,'cityName':cityName,'levelCode':levelCode,'levelName':levelName}),
            success: function (data) {
                if(data.flag){
                    layer.alert('提交成功！', {icon: 6},function () {
                        window.parent.refreshList();
                    });
                    layer.closeAll();
                }else{
                    layer.msg('alert！', {icon: 5});
                }
            }
        });
    }





    </script>
</section>
</body>
</html>